.audio-player {
  width: 600px;
  margin: 20px auto;
  padding: 2px;
  border: 1px solid #333;
  background-color: gray;
  border-radius: 40px;
}

.controls {
  display: flex;
  align-items: center;
}

.playback-controls {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding-left: 15px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  margin: 0 10px;
  position: relative;
  border-radius: 5px;
}

.progress {
  height: 100%;
  border-radius: 5px;
}

.volume-controls {
  display: flex;
  align-items: center;
}

.volume-bar {
  width: 100px;
  height: 10px;
  background-color: #ddd;
  margin: 0 10px;
  position: relative;
  border-radius: 5px;
}

.volume {
  height: 100%;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  padding: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 20;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  right: 50%;
  transform: translateX(50%);
  border: 2px solid rebeccapurple;
}

.dropdown-content button {
  width: 100%;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  color: white;
}

.dropdown-content button:hover {
  background-color: rebeccapurple;
  color: white;
}

.dropdown-content button.selected {
  background-color: rebeccapurple;
  color: white;
  font-size: 11px;
}

.show {
  display: block;
}

.progress-dot {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rebeccapurple;
  border-radius: 50%;
  pointer-events: none;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
}

.progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%);
}

@media (max-width: 768px) {
  .audio-player {
    width: 90%;
    padding: 10px;
  }

  .controls {
    flex-direction: column;
  }

  .play-pause {
    font-size: 18px;
  }

  .progress-bar {
    margin: 10px 0;
  }

  .dropdown {
    margin-top: 10px;
  }
}
