.audio-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5; /* Light gray background for the bar */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.playback-controls {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.play-pause {
  background: #76c7c0;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time-passed, .time-remaining {
  font-size: 14px;
  margin: 0 10px;
  color: #333;
}

.progress-bar {
  flex-grow: 1;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0 10px;
  max-width: 450px;
  width: 100%;
}

.progress {
  height: 100%;
  background: #76c7c0;
  border-radius: 5px 0 0 5px;
}

.progress-dot {
  width: 14px;
  height: 14px;
  background: #76c7c0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown {
  position: relative;
  margin-left: 10px;
}

.dropbtn {
  background-color: #76c7c0;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.dropbtn svg {
  margin-right: 5px;
}

/* Responsive design for playback speed button */
@media (max-width: 600px) {
  .dropbtn {
    padding: 6px;
    font-size: 12px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  right: 0;
}

.dropdown-content button {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown-content .selected {
  background-color: #76c7c0;
  color: white;
}

.dropdown .show {
  display: block;
}

/* Responsive Design */
@media (max-width: 600px) {
  .controls {
    flex-wrap: nowrap; /* Ensure everything stays in a single line */
  }

  .progress-bar {
    width: 75%; /* Adjust width on smaller screens */
    margin: 0 10px;
  }

  .dropdown {
    margin-left: 5px; /* Adjust spacing on smaller screens */
  }

  .play-pause {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .playback-controls {
    flex-grow: 1; /* Ensure the progress bar grows as needed */
  }
}
