/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
}

.App-main {
  margin-top: 220px; /* Default margin-top for PCs */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust height as needed */
}

/* Media query for phones */
@media (max-width: 768px) {
  .App-main {
    margin-top: 250px; /* Margin-top for phones */

  }
}



button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

h1 {
  margin: 0;
}

h3 {
  color: #6169fb;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

