.controls {
  display: flex;
  align-items: center;
  /* ... */
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column; /* Change to column layout on mobile */
  }
}



.footer {
  margin-top: 40px;
  font-family: serif;
  font-style: italic;
  text-align: center;
}
