/* Add this to your App.css or a relevant CSS file */
.audio-player-container {
  padding-bottom: 50px; /* Add some padding to avoid overlap with footer */
}

.footer {
  margin-top: 40px;
  font-family: serif;
  font-style: italic;
  text-align: center;
}
